<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="antiqueId" value="#{antiqueEdit.antiqueId}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <f:facet name="header">
                    <h:outputText value="#{msg.antique}"/>
                </f:facet>
                <h:outputLabel value="#{msg.price}" for="price"/>
                <h:inputText id="price" value="#{antiqueEdit.antique.price}"/>
                <h:outputLabel value="#{msg.year}" for="year"/>
                <h:inputText id="year" value="#{antiqueEdit.antique.year}"/>
                <h:outputLabel value="#{msg.country}" for="country"/>
                <h:selectOneListbox id="country" value="#{antiqueEdit.antique.country}" converter="countriesConverter">
                    <f:selectItems value="#{antiqueEdit.countries}"/>
                </h:selectOneListbox>
                <h:outputLabel value="#{msg.isAvailable}" for="available"/>
                <h:selectBooleanCheckbox id="available" value="#{antiqueEdit.antique.available}">
                    <f:selectItem value="#{antiqueEdit.antique.available}"/>
                </h:selectBooleanCheckbox>
            </h:panelGrid>
            <h:commandButton action="antiques_list" actionListener="#{antiqueEdit.saveAntique}" value="#{msg.save}"/>
        </h:form>
    </ui:define>
</ui:composition>
