<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:button outcome="basket_view.xhtml" value="#{msg.goToBasket}"/>
        <h:dataTable value="#{antiquesList.antiques}" var="antique">
            <h:column>
                #{antique.country.name}
            </h:column>
            <h:column>
                #{antique.year}
            </h:column>
            <h:column>
                #{antique.price}
            </h:column>
            <h:column>
                #{antique.available==true?  'Available!' : 'Not available'}
            </h:column>
            <h:column>
                <h:button outcome="/antique_edit.xhtml" value="#{msg.edit}">
                    <f:param name="antiqueId" value="#{antique.id}"/>
                </h:button>
            </h:column>
            <h:column>
                <h:form>
                    <h:commandButton value="#{msg.addToBasket}" action="#{antiquesList.addAntiqueToBasket(antique)}"
                                     disabled="#{antiquesList.addedToBasket(antique)}"/>
                </h:form>
            </h:column>
        </h:dataTable>
        <h:button outcome="antique_edit.xhtml" value="#{msg.add}">
            <f:param name="antiqueId" value="0"/>
        </h:button>
    </ui:define>
</ui:composition>
