<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:dataTable value="#{basketView.antiquesInBasket}" var="antique">
            <h:column>
                #{antique.country.name}
            </h:column>
            <h:column>
                #{antique.year}
            </h:column>
            <h:column>
                #{antique.price}
            </h:column>
            <h:column>
                <h:form>
                    <h:commandButton value="#{msg.removeFromBasket}" action="#{basketView.removeAntiqueFromBasket(antique)}"/>
                </h:form>
            </h:column>
        </h:dataTable>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel value="#{msg.name}"/>
                <h:inputText value="#{basketView.client.name}"/>
                <h:outputLabel value="#{msg.surname}"/>
                <h:inputText value="#{basketView.client.surname}"/>
                <h:commandButton value="#{msg.order}" actionListener="#{basketView.makeOrder}"/>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>